.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  
  }
  .barra{
    text-align: center;
    color: green;
    
  };
  .Id{
    justify-content: center;
    text-align: center;
    
  }
  .button{
    justify-content: center;
    text-align: center;
    margin: 5px;
    padding: 3px;
    cursor: pointer;
    
  }
  .Estados{
    justify-content: center;
    text-align: center;
  }
  .leggend{
    background-color: greenyellow;
    width: 50% auto;
    height: 50%;
  }
  