

.contenedor-vendedor{
  text-align:center;
  position: relative;
  /* margin: 0 auto; */
  /* border: 2px solid red; */
  min-width: 50vw;
  
  min-height: 90vh;
  border: 2px solid #fff;
  border-radius: 5px;
  /* box-shadow: -1px -1px 29px 2px rgb(167, 28, 167); */
}

.contenedor-formularioG{
  text-align:center;
  position: relative;
  margin:40px;
 
}
.contenedor-izquierdaG{
  margin-left:40px; 
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  text-align:center;
}
.contenedor-izquierdaG > *{
  margin: 6px 10px;
  text-align:center;
}
.contenedor-izquierdaG input{
  width: 80%;
  padding:10px 0;
  outline: none;
  border: none;
  border-bottom: 2px solid #000;
  text-align:center;
 
}

.contenedor-enviarG{
  text-align: center;
  margin: 40px 0;
}
.enviarG{
  padding: 13px 30px;
  border: 2px solid #222;
  border-radius: 10px;
  transition: color .7s, background-color .7s, transform .7s;
  cursor: pointer;
}
.enviarG:hover{
  background-color: #eee;
  color:#000;
  font-weight: bold;
  transform: scale(1.1);
}